.ql-toolbar.ql-snow {
  border: none !important;
}
.ql-container.ql-snow {
  max-height: 250px !important;
  height: 250px !important;
  overflow-y: auto;
  font-size: 16px !important;
  border-bottom: 1px solid #e9eaf0 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
